* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    /* Add padding to the top to prevents content from being hidden behind the sticky header */
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

#head-name {
    color: #031b30;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 2px;
    border-style: dotted;
}

section {
    margin-bottom: 20px;
    margin-top: 20px;
}

#About {
    border-style: ridge;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #0074D9;
}

#Experience {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    outline-style: groove;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.experience-item .job-title {
    flex: 1;
    font-size: 16px;
    color: #555;
}

.experience-item .job-dates {
    flex: 0 0 150px;
    text-align: right;
    font-size: 14px;
    color: #999;
}

.experience-item .job-description {
    flex-basis: 100%;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

#Connect {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.connect-link {
    text-decoration: none;
    color: #0074D9;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.connect-link:hover {
    color: #0056b3;
    transform: scale(1.1);
}

.social-icon {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
}